@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="text-center">
    <h2 class="display-4">Check out our roster of chefs!</h2>
    <hr>
    <table class="table table-secondary table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Name</td>
                    <td>@d.Author?.FirstName @d.Author?.LastName</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                </tr>
            }
        </tbody>
    </table>
</div>
